* {
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header ul{
    list-style-type: none;
    /* display: flex;
    justify-content: space-between;
    width: 300px; */
}
header ul li{
    display: inline-block;
    margin-left: 10px;
    color: lightseagreen;
}
/* header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 15px;
} */
header h4{
    color: darkblue;
}

section{
    padding: 50px;
    background-color: lightseagreen;
}
section div{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 90px;
       color: white;
       background-color: darkblue;
       border-radius: 50%;
       height: 150px;
       width: 150px;
       margin: auto;
}
section h2{
    text-align: center;
    padding-bottom: 10px;
    color: white;
}
section p{
    text-align: center;
    color: white;
}
article{
   /* padding: 20px; */
    display: flex;
    justify-content: space-between;
}
article h3{
    padding: 20px;
    color: darkblue;
    padding-bottom: 10px;
}
article p{
    font-size: 12px;
}
